/* 以下样式用于页面布局. */
html,
body,
div.wrapper {
  height: 100%;
}

div.wrapper {
  display: flex;
  flex-direction: column;
}

div.header,
div.footer {
  flex: 0 0 auto;
}

div.main {
  display: flex;
  flex: 1 1 auto;
}

div.view {
  flex: 1 1 100%;
  /* flex: flex-grow flex-shrink flex-basis */
}

div.qcog {
  display: flex;
  flex-direction: column;
  flex: 0 0 0;
  transition: all 500ms;
  overflow: auto;
}

div.qcog-wrapper {
  flex: 1 1 auto;
  width: 360px;
}

div.star {
  display: flex;
  flex-direction: column;
  flex: 0 0 0;
  transition: all 500ms;
  overflow: auto;
}

div.star-wrapper {
  flex: 1 1 auto;
  width: 360px;
}

div.exts {
  display: flex;
  flex-direction: column;
  flex: 0 0 0;
  transition: all 500ms;
  overflow: auto;
}

div.exts-wrapper {
  flex: 1 1 auto;
  width: 360px;
}

div.qcog-toggle {
  flex: 0 0 360px;
}

div.star-toggle {
  flex: 0 0 360px;
}

div.exts-toggle {
  flex: 0 0 360px;
}

ul.dowebok {
  padding-left: 0;
}

/* 以下样式用于微调美化. */
div.header nav,
div.footer nav {
  margin-bottom: 0;
  border-radius: 0;
}

div.header nav button.navbar-toggle {
  margin: 8px 16px;
}

div.footer nav p.navbar-text {
  float: none;
  text-align: center;
}

div.footer nav p.navbar-text a.navbar-link {
  color: rgb(0, 63, 136);
  /* 浙大求是蓝 */
}

div.main div.qcog div.input-group {
  margin-bottom: 10px;
}

p.hint {
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

span.special {
  font-weight: bold;
  color: red;
}

div.panel-body {
  padding-right: 25px;
}

.primary-btn-group {
  margin-top: 16px;
}

input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked {
  margin-left: 5px;
  margin-right: 12px;
}

#heat {
  padding: 0 34px;
}

/* 个性化推荐区样式. */
input.labelauty + label {
  display: block !important;
  text-align: center;
}

div.youxian {
  display: none;
}

p.hint-small {
  color: red;
  font-weight: bold;
}

div.priority-title {
  margin: 10px 0;
  font-size: 1.2em;
  text-align: center;
}

section.example {
  padding: 0 34px;
}

div.gridly {
  position: relative;
}

.brick {
  border-radius: 16px;
  color: snow;
  font-size: 100%
}

.house-slot {
  display: none;
}

p.question-name {
  font-weight: bolder;
  font-size: 1.2em;
}
p.question-answer {
  font-size: 1.2em;
}

.comment .question-answer:not(:last-child) {
  padding-bottom: 5px;
  border-bottom: rgb(201, 201, 201) solid 1px;
}

#draw {
  position: absolute;
  left: 20px;
  bottom: 10%
}
